extends ../layouts/default

block variables
	- const title = "Сотрудник - Василий Иванов»"

block content
	.main-body
		include ../../modules/header/_header.pug

		main.content 
			.container
				.content__row
					section.content__search
						include ../../modules/search/_search.pug
						section.content__direction
							include ../../modules/p-result/_p-result.pug
					
					section.content__news
						include ../../modules/news/_news.pug
					
				
		
		include ../../modules/footer/_footer.pug

block scripts
	script(src="./assets/js/vendors.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")


	script(src="./assets/js/main.js")