extends ../layouts/default

block variables
	- const title = "Решение «Персональные данные»"

block content
	.main-body
		include ../../modules/header/_header.pug

		main.content 
			.container
				.content__row
					section.content__search
						include ../../modules/search/_search.pug
						section.content__vendor
							include ../../modules/p-solution/_p-solution.pug
					section.content__news
						include ../../modules/news/_news.pug
					section.content__body
						include ../../modules/second-tabs/_second-tabs.pug
		
		include ../../modules/footer/_footer.pug

block scripts
	script(src="./assets/js/vendors.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")


	script(src="./assets/js/main.js")