.news
    .news__title Новости Softline
    .news__body
        .news__item
            .news__date 31.05.2020
            a.news__small-title(href="") Aenean vulputate eleifend tellus ullamcorper ultricies nisi
            .news__descr Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus...

        .news__item
            .news__date 31.05.2020
            a.news__small-title(href="") Aenean vulputate eleifend tellus ullamcorper ultricies nisi
            .news__descr Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus...

        .news__item
            .news__date 31.05.2020
            a.news__small-title(href="") Aenean vulputate eleifend tellus ullamcorper ultricies nisi
            .news__descr Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus...

    .news__more
        a(href="") Другие новости
