.main-tabs {
    &__title {
        margin-bottom: 55px;
        @include row-flex;
    }

    &__title-item {
        @include col();
        @include size(4);
        @include size-sm(12);
        @include sm-block() {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        padding: 17px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;

        background-color: #e0e0e0;
        border-radius: 5px;

        cursor: pointer;
        transition: $base-transition;

        &:hover {
            background-color: #c61143;
        }
    }

    &--active {
        background-color: #c61143;
    }

    &__content-item {
        display: none;
    }

    &__cards {
        margin-bottom: 75px;
    }
}

.section-menu {
    display: flex;
    justify-content: space-around;

    margin-bottom: 73px;

    // overflow-x: overlay;

    &__item {
        flex: 1 1 auto;

        padding: 0 22px;
        padding-bottom: 8px;

        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #bdbdbd;
        text-decoration: none;
        border-bottom: 1px solid #eaeaea;
        transition: $base-transition;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid #c61143;
            color: #c61143;
        }

        &--active {
            border-bottom: 1px solid #c61143;
            color: #c61143;
        }
    }
}

.description {
    &__wrapper {
        position: relative;
        padding: 58px 66px;
        text-align: center;
        color: #4f4f4f;
        @include lg(padding-left, 0);
        @include lg(padding-right, 0);

        border: 1px solid #ebebeb;
        border-radius: 5px;

        &::before {
            content: "";
            position: absolute;
            z-index: 6;
            top: -14px;
            left: calc(50% - 12.5px);
            display: block;
            width: 35px;
            height: 35px;
            background: url("../img/svg/two-arrow-down.svg") center no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 5;
            top: -15px;
            left: calc(50% - 25px);
            display: block;
            width: 60px;
            height: 35px;
            background-color: #ffffff;
        }

        p {
            padding: 0 22px;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }

    p {
        margin-bottom: 35px;
        line-height: 21px;
    }

    &__vendors-title {
        margin-bottom: 44px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    &__vendors-row {
        @include row-flex();
        align-items: center;
    }

    &__vendors-col {
        @include col();
        @include size(4);
        @include size-sm(12);
    }

    img {
        @include sm(margin-bottom, 35px);
        max-width: 220px;
        width: 100%;
        height: auto;
    }

    &__persons {
        padding-top: 20px;
    }

    .person-description {
        text-align: center;
        font-size: 18px;
        line-height: 21px;

        @include sm(text-align, start);
        @include md-block() {
            font-size: 14px;
            line-height: 14px;
        }

        @include md-block() {
            font-size: 18px;
            line-height: 21px;
        }

        color: #4f4f4f;

        &__main {
            position: relative;
            margin: 0 auto;
            max-width: 75%;
            padding: 15px;
            padding-bottom: 42px;
            border-bottom: 1px solid #ebebeb;

            @include sm-block() {
                width: auto;
                margin: 0;
                padding-left: 22px;
                padding-bottom: 20px;
                border: none;
                &::after {
                    display: none;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 1px;
                height: 30px;
                border: 1px solid #ebebeb;
            }
        }

        &__second {
            padding: 0 15px;
            position: relative;

            @include sm-block() {
                width: 250px;
                padding-bottom: 40px;

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    top: 62px;
                    left: -50px;
                    width: 30px;
                    height: 1px;
                    border: 1px solid #ebebeb;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: -47px;
                width: 1px;
                height: 30px;
                border: 1px solid #ebebeb;
            }
        }

        &__inner {
            position: relative;
            display: flex;
            margin-top: 46px;

            @include sm-block() {
                flex-direction: column;
                margin-left: 22px;
                padding-left: 50px;

                &::before {
                    content: "";
                    position: absolute;
                    top: -35px;
                    left: 0;
                    width: 1px;
                    height: 100%;
                    border: 1px solid #ebebeb;
                }
            }
        }

        &__title {
            margin-bottom: 10px;
            font-weight: bold;
            color: #7a1733;
        }

        &__name {
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
}

.active {
    display: block;
}

.main-card {
    color: #4f4f4f;

    @include md-block() {
        max-width: 370px;
        margin: 0 auto;
    }

    &__title {
        height: 70px;
        padding: 18px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        text-align: center;
        background-color: #ebebeb;
        border: 1px solid #ebebeb;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__item {
        padding: 20px;
        border: 1px solid #ebebeb;
        border-top: 1px solid transparent;

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        transition: $base-transition;
        cursor: pointer;
    }

    &--red {
        .main-card__item {
            &:hover {
                background-color: rgba(#7a1733, 0.1);
                border: 1px solid #7a1733;
            }

            &:hover .item__check {
                background: url("../img/svg/check-red.svg") center no-repeat;
                border: 2px solid #7a1733;
            }
        }
    }

    &--blue {
        .main-card__item {
            &:hover {
                background-color: rgba(#055f7a, 0.1);
                border: 1px solid #055f7a;
            }

            &:hover .item__check {
                background: url("../img/svg/check-blue.svg") center no-repeat;
                border: 2px solid #055f7a;
            }
        }
    }

    &--green {
        .main-card__item {
            &:hover {
                background-color: rgba(#007a0f, 0.1);
                border: 1px solid #007a0f;
            }

            &:hover .item__check {
                background: url("../img/svg/check-green.svg") center no-repeat;
                border: 2px solid #007a0f;
            }
        }
    }

    .item {
        display: flex;
        align-items: center;
        height: 100px;

        &__check {
            position: relative;
            margin-right: 11px;
            width: 51px;
            height: 51px;

            background-color: #fff;
            border: 2px solid #b7b7b7;
            border-radius: 50%;
        }

        &__body {
            display: flex;
            flex-direction: column;
            width: 140px;
            max-height: 55px;
            height: 100%;
        }

        &__title {
            flex: 1 1 auto;
            font-weight: 700;
        }

        &__descr {
        }
    }
}

.main-card--orange {
    .item__body {
        padding-left: 40px;
        width: 100%;
        height: 100%;
    }

    .main-card__item {
        &:hover {
            background-color: rgba(#fa5a2f, 0.1);
            border: 1px solid #fa5a2f;
        }
    }
}

.main-card--second-blue {
    .item__body {
        padding-left: 14px;
        width: 100%;
        height: 100%;
    }

    .main-card__item {
        padding-top: 25px;
        padding-bottom: 25px;

        @include sm-block() {
            padding-left: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 12px;
            height: auto;
        }
    }
}
