.main-tabs
    ul.main-tabs__title
        li.main-tabs__title-item.main-tabs--active(data-tab="1") Карта решений
        li.main-tabs__title-item(data-tab="2") Карта ответственных
        li.main-tabs__title-item(data-tab="3") Карта вендоров

    ul.main-tabs__content


        li.main-tabs__content-item.active(data-tab="1")
            ul.section-menu
                a.section-menu__item.section-menu__item--active(href="#") Информационная безопасность
                a.section-menu__item(href="#") ЮТ
                a.section-menu__item(href="#") Инфраструктура
                a.section-menu__item(href="#") Облачные реализации
                a.section-menu__item(href="#") Бизнес решения
                a.section-menu__item(href="#") Инфраструктура
                a.section-menu__item(href="#") ЮТ
                a.section-menu__item(href="#") Облачные реализации
                a.section-menu__item(href="#") Бизнес решения
                a.section-menu__item(href="#") Облачные реализации

            .main-tabs__description.description
                .description__wrapper
                    .descriptin__title Описание решения Персональные данные в отрасли Ритейл
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                    .descriptin__sub-title Решение представлено у вендоров
                    .descriptin__vendors vendors


        li.main-tabs__content-item(data-tab="2")
            ul.section-menu
                a.section-menu__item.section-menu__item--active(href="#") Организационная структура продавцов
                a.section-menu__item(href="#") Организационная структура сервисов

            .main-tabs__description
            | Выбранный элемент Отраслевая экспертиза


        li.main-tabs__content-item(data-tab="3")
            ul.section-menu
                a.section-menu__item.section-menu__item--active(href="") ТОП-12
                a.section-menu__item(href="#") Второй приоритет
                a.section-menu__item(href="#") Третий приоритет

            .main-tabs__description
            | Решение Персональные данные от вендора Cisco

