.p-result {
    .page-main-descr {
        margin-bottom: 0;
    }

    &__bread-crumbs {
        margin: 40px 0px;
    }

    &__row {
        @include row-flex();
        align-items: start;
        padding-top: 30px;
    }

    &__aside,
    &__body {
        @include col();
        @include size-md(12);
    }

    &__aside {
        @include size(4);

        border: 1px solid #ebebeb;
        border-radius: 5px;
    }

    &__body {
        @include size(8);

        h1 {
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 36px;

            color: #525252;
        }
    }

    &__news-item {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__aside-title {
        padding: 15px 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        color: #4f4f4f;
        border-bottom: 1px solid #ebebeb;
    }
}

.item-news {
    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #ebebeb;
    border-radius: 5px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        max-width: 320px;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;

        color: #c61143;
    }

    &__category {
        font-weight: 600;
        font-size: 14px;

        color: #525252;

        span {
            font-weight: normal;
            font-size: 14px;

            color: #055f7a;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__img {
        width: 156px;
        height: 130px;
        margin-right: 13px;
    }

    &__text {
        line-height: 19px;

        color: #333333;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__tags {
        font-weight: 600;
        font-size: 14px;

        color: #525252;

        p {
            margin-bottom: 2px;
        }
        span {
            margin-right: 11px;
            font-weight: 400;
        }
    }

    &--author {
        .item-news__img {
            width: 130px;
            height: 130px;

            border-radius: 50%;
        }

        .item-news__text {
            p {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.filter {
    padding-top: 25px;
    @include md-block() {
        padding-top: 0;
    }

    &__item {
        margin-bottom: 25px;
        padding-left: 36px;

        @include md-block() {
            margin-bottom: 0;
            padding: 25px 60px;

            &:nth-child(2) {
                border-left: 1px solid #ebebeb;
                border-right: 1px solid #ebebeb;
            }
        }

        @include sm-block() {
            &:nth-child(2) {
                border: none;
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
            }
        }
    }

    &__item-wrapper {
        padding: 0 15px;

        @include md-block() {
            display: flex;
            justify-content: center;
        }
        @include sm-block() {
            flex-direction: column;
        }
    }

    &__item-title {
        position: relative;
        margin-bottom: 17px;
        font-size: 18px;
        line-height: 22px;

        color: #4f4f4f;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -36px;
            display: block;
            width: 26px;
            height: 26px;
            border: 1px solid #b7b7b7;
            border-radius: 2px;
            transform: translateY(-50%);
        }
    }

    &__item-inner {
        position: relative;
        margin-bottom: 8px;

        input {
            display: none;

            &:checked ~ label {
                &::before {
                    background-color: #007a0f;
                    border: 1px solid #007a0f;
                }
            }
        }

        label {
            color: #828282;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: -23px;
                width: 13px;
                height: 13px;
                border: 1px solid #b7b7b7;
                border-radius: 2px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 7px;
                left: -20.5px;
                display: block;
                width: 9px;
                height: 5px;
                background: url("../img/svg/checked.svg") center no-repeat;
            }
        }
    }

    &__footer {
        padding: 8px 0;
        text-align: center;
        border-top: 1px solid #ebebeb;

        p {
            margin-bottom: 5px;
            font-size: 14px;
            color: #4f4f4f;
        }

        button {
            font-weight: bold;
            font-size: 14px;

            color: rgba(198, 17, 67, 0.8);

            background: transparent;
            border: none;
            outline: none;
            transition: $base-transition;
            cursor: pointer;

            &:hover {
                color: rgba(198, 17, 67, 1);
            }
        }
    }

    .filter__item--red {
        input {
            &:checked ~ label {
                &::before {
                    background-color: #7a1733;
                    border: 1px solid #7a1733;
                }
            }
        }
    }

    &__item-link {
        margin-top: 2px;
        margin-left: -22px;
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: underline;

        color: rgba(198, 17, 67, 0.8);
    }
}
