extends views/layouts/default

block variables
	- const title = "Softline"

block content
	.main-body
		include ./modules/header/_header.pug

		main.content 
			.container
				.content__row
					section.content__search
						h1.search__title Поиск по Карте решений
						p.search__descr Начните вводить поисковую фразу, выберите нужный результат в выпадающем меню и нажмите Enter
						include ./modules/search/_search.pug
					.content__news
						include ./modules/news/_news.pug
				.tabs-body
					include ./modules/main-tabs/_main-tabs.pug

		include ./modules/footer/_footer.pug

block scripts
	script(src="./assets/js/vendors.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")


	script(src="./assets/js/main.js")