.p-vendor
    .p-vendor__bread-crumbs.bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='') Веноры
                    li.bread-crumbs__item Microsoft

    h1.vendor__title.page-main-title Страница вендора Miсrosoft
    p.vendor__title.page-main-descr Здесь представлена подробная информация о вендоре

    .p-vendor__info.vendor-info
        .vendor-info__title Информация о вендоре
        .vendor-info__descr
            img.vendor-info__img(src="./assets/img/vendors/microsoft.png", alt="")
            p Одна из крупнейших транснациональных компаний по производству проприетарного программного обеспечения для различного рода вычислительной техники - персональных компьютеров, игровых приставок, КПК, мобильных телефонов и прочего, разработчик наиболее широко распространённой на данный момент в мире программной платформы - семейства операционных систем Windows.
            .vendor-info__link Сайт вендора:
                a(href="#" target="_blank") www.microsoft.com

    