.search
    form.search__form.form(action="#")
        input.form__input(type="text" name="search" placeholder="Введите фразу")
        button.form__button(type="submit")
        .search__result
            .result
                .result__title Продукты:
                ul.result__list
                    li.result__item
                        a(href="") Windows Server 2010, <span>продажа лицензий</span>
                    li.result__item
                        a(href="") Windows 10, <span>продажа лицензий</span>
                    li.result__item
                        a(href="") Windows Azure, <span>продажа лицензий</span>

                .result__title Направления:
                ul.result__list
                    li.result__item
                        a(href="") Обучение Windows Server 10, <span>направление учебного центра</span>
                    li.result__item
                        a(href="") Обучение Windows 10, <span>направление учебного центра</span>
                    li.result__item
                        a(href="") Обучение Windows Azure, <span>направление учебного центра</span>

                .result__title Сотрудники:
                ul.result__list
                    li.result__item
                        a(href="") Олег Родионов, <span>инженер отдел внедрения Windows</span>
                    li.result__item
                        a(href="") Александр Дмитриев, <span>менеджер, группа продаж Windows</span>
                    li.result__item
                        a(href="") Windows Azure, <span>продажа лицензий</span>

                .result__title Документы:
                ul.result__list
                    li.result__item
                        a(href="") Windows Server 2010, <span>продажа лицензий</span>
                    li.result__item
                        a(href="") Windows 10, <span>продажа лицензий</span>
                    li.result__item
                        a(href="") Windows Azure, <span>продажа лицензий</span>
                        