.p-direction
    .p-direction__bread-crumbs.bread-crumbs
        ul.bread-crumbs__list
            li.bread-crumbs__item
                a.bread-crumbs__link(href='') Главная
            li.bread-crumbs__item
                a.bread-crumbs__link(href='') Направления
            li.bread-crumbs__item Информационная безопасность

    h1.p-direction__title.page-main-title Направление «Информационная безопасность»
    p.p-direction__info.page-main-descr Здесь представлена подробная информация о направлении

    .p-direction__descr
        span Ответственный за направление:
        a(href="") Василий Петров
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

    .main-tabs
        .main-tabs__cards.owl-carousel.owl-carousel-main.owl-theme
            ul.main-card.main-card--red
                li.main-card__title Отрасли
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Ритейл
                        .item__descr Виткова Снежана
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Ростех
                        .item__descr Гумаров Игнат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Финансы
                        .item__descr Бровки Алексей
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Государственный сектор
                        .item__descr Кудрявцев Юрий
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Промышленность
                        .item__descr Перво Иван
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Энергетика
                        .item__descr Хараск Максим

            ul.main-card.main-card--blue
                li.main-card__title Решения
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Сетевая защита
                        .item__descr Стрельников Алексей
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Адрианов Максим
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Типисова Елена
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue SOC
                        .item__descr Русин Дмитрий
                

            ul.main-card.main-card--green
                li.main-card__title Вендоры
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-green Forcepoint
                        .item__descr Стрельников Алексей
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-green Positive Tech
                        .item__descr Адрианов Максим
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-green Kaspersky
                        .item__descr Русин Дмитрий
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-green Usergate
                        .item__descr Кудрявцев Юрий
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-green Eset
                        .item__descr Гумаров Игнат
