.p-direction {
    &__bread-crumbs {
        margin: 40px 0px;
    }

    &__descr {
        padding: 24px 0px 31px 0px;
        border-top: 1px solid #e8e8e8;

        div {
            margin-bottom: 12px;
        }

        span {
            font-weight: 600;
            line-height: 19px;

            color: #525252;
        }

        a {
            margin-left: 8px;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            max-width: 670px;
            margin: 15px 15px 30px 0px;

            color: #333333;
        }
    }
    .main-card .item__body {
        width: 100%;
    }

    .owl-nav {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            width: 32px;
            height: 25px;
            background: url('../img/svg/slider-arrow.svg') center no-repeat !important;

            span {
                font-size: 0;
            }

            @include md-block() {
                top: -50px;
            }
        }

        .owl-prev {
            left: 60px;
            @include md-block() {
                left: -10px;
            }
        }

        .owl-next {
            right: 60px;
            transform: rotate(180deg);
            @include md-block() {
                right: -10px;
            }
        }
    }
}
