/* BASE */
.container {
    @include container();
}

.main-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
    padding: 87px 0;

    @include md-block() {
        padding: 50px 0;
    }

    &__row {
        @include row-flex();
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__search {
        @include col();
        @include size(9);
        @include size-md(12);
    }

    &__news {
        @include col();
        @include size(3);
        @include size-md(12);
        @include md(order, 1);
    }

    &__body {
        @include col();
        @include size(12);
    }
}

// Bread-crumbs
.bread-crumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 24px;
    }

    &__item {
        position: relative;
        margin-right: 18px;

        &::after {
            content: "";
            position: absolute;
            top: 7px;
            right: -12px;
            display: inline-block;
            width: 5px;
            height: 9px;

            background: url("../img/svg/arrow-right-bread.svg");
            background-repeat: no-repeat;
        }

        &:last-child {
            color: #c61143;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        font-size: 12px;
        line-height: 24px;

        color: #b7b7b7;

        &:hover {
            color: #c61143;
            transition: $base-transition;
        }
    }
}

.page-main-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #525252;
}

.page-main-descr {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;

    color: #4f4f4f;
}

.block-link {
    padding: 20px 50px 0 50px;
    @include row-flex();
    
    &__col {
        @include col();
        @include size(6);
        @include size-sm(12);
    }

    a {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 21px;

        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 20px;
        line-height: 21px;
        color: #333333;
    }
}

.m--text-blue {
    color: #055f7a;
}

.m--text-red {
    color: #7a1733;
}

.m--text-green {
    color: #007a0f;
}

.m--text-orange {
    color: #fa5a2f;
}
