nav.top-nav
    ul.top-nav__list
        li.top-nav__item
            a.top-nav__link(href="#") Главная
        li.top-nav__item
            a.top-nav__link(href="#") Направления
        li.top-nav__item
            a.top-nav__link(href="#") Решения
        li.top-nav__item
            a.top-nav__link(href="#") Вендоры
        li.top-nav__item
            a.top-nav__link(href="#") Ответственные
        li.top-nav__item
            a.top-nav__link(href="#") Отрасли
        li.top-nav__item
            a.top-nav__link(href="#") Подразделения
        li.top-nav__item
            a.top-nav__link(href="#") Личный кабинет