header.header
    .container
        .header__body
            .logo
                a(href="./index.html")
                    img(src="./assets/img/logo.png" alt="")
            .header__avatar-body.avatar-header
                img.avatar-header__img(src="./assets/img/header-avatar.png" alt="")
                a.avatar-header__name(href="#") Константин Константинов
                button.avatar-header__icon.avatar-header__icon--logout
                button.avatar-header__icon.avatar-header__icon--help


