.p-vendor
    .p-vendor__bread-crumbs.bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='') Решения
                    li.bread-crumbs__item Персональные данные

    h1.vendor__title.page-main-title Решение «Персональные данные»
    p.vendor__title.page-main-descr Здесь представлена подробная информация о решении

    .p-direction__descr
        div
            span Ответственный за направление:
            a.m--text-orange(href="") Василий Петров
        div
            span Относится к направлению:
            a.m--text-red(href="") Информационная безопасность

        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

    