.second-tabs
    .main-tabs
        ul.main-tabs__title
            li.main-tabs__title-item.main-tabs--active(data-tab="1") Партнерская программа
            li.main-tabs__title-item(data-tab="2") Кейсы
            li.main-tabs__title-item(data-tab="3") Внедрения
            li.main-tabs__title-item(data-tab="4") Ссылки

        ul.main-tabs__content
            li.main-tabs__content-item.active(data-tab="1")
                p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut  libero veneatis faucibus. Nullam quis ante. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            
            li.main-tabs__content-item(data-tab="2")
                p  Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            
            li.main-tabs__content-item(data-tab="3")
                p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut  libero veneatis faucibus. Nullam quis ante. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
           
            li.main-tabs__content-item(data-tab="4")
                .block-link
                    .block-link__col
                        a.m--text-red(href="#" target="_blank") www.website.com
                        p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                    .block-link__col
                        a.m--text-red(href="#" target="_blank") www.website.com
                        p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.



    ul.section-menu
        a.section-menu__item.section-menu__item--active(href="#") Информационная безопасность
        a.section-menu__item(href="#") ЮТ
        a.section-menu__item(href="#") Инфраструктура
        a.section-menu__item(href="#") Облачные реализации
        a.section-menu__item(href="#") Бизнес решения
        a.section-menu__item(href="#") Инфраструктура
        a.section-menu__item(href="#") ЮТ
        a.section-menu__item(href="#") Облачные реализации
        a.section-menu__item(href="#") Инфраструктура
        a.section-menu__item(href="#") Облачные реализации

    .main-tabs
        .main-tabs__cards.owl-carousel.owl-carousel--vendors.owl-theme
            ul.main-card.main-card--red.main-card--second-blue
                li.main-card__title Отрасли
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Сетевая защита
                        .item__descr Чигин Денис
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Контроль доступа
                        .item__descr Давыдов Александр

            ul.main-card.main-card--blue.main-card--second-blue
                li.main-card__title Решения
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Сетевая защита
                        .item__descr Чигин Денис
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр

            ul.main-card.main-card--red.main-card--second-blue
                li.main-card__title Отрасли
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Сетевая защита
                        .item__descr Чигин Денис
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-red Контроль доступа
                        .item__descr Давыдов Александр

            ul.main-card.main-card--blue.main-card--second-blue
                li.main-card__title Решения
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Сетевая защита
                        .item__descr Чигин Денис
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Катчиев Ринат
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Контроль доступа
                        .item__descr Давыдов Александр
                li.main-card__item.item
                    .item__body
                        .item__title.m--text-blue Персональные данные
                        .item__descr Катчиев Ринат

